<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
<title>Raining Data ePharma - KPI Dashboard</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<link href="../assets/epedigree1.css" rel="stylesheet" type="text/css">
</head>

<body>
<!-- Being Content DIV -->
<div id="content">

<div id="bg"><img src="../assets/images/seebeyond_logo.jpg" width="170" height="50">
	<div style="position:relative; top:0px; left:180px;">Manufacturer</div>
	<div></div>
  <table width="100%" height="50" border="0" cellpadding="0" cellspacing="0">
    <tr> 
      <td width="205" valign="top"></td>
      
      <td width="100%" align="right"><table border="0" cellspacing="0" cellpadding="0">
          <tr align="left"> 
            <td><a href="../index.html"><img src="../assets/images/home.gif" width="22" height="27" hspace="10" border="0"></a></td>
            <td><img src="../assets/images/account.gif" width="41" height="27" hspace="10"></td>
            <td><img src="../assets/images/help.gif" width="21" height="27" hspace="10"></td>
            <td><img src="../assets/images/print.gif" width="27" height="27" hspace="10"></td>
            <td><img src="../assets/images/logout.gif" width="34" height="27" hspace="10"></td>
            <td><img src="../assets/images/space.gif" width="20"></td>
          </tr>
        </table></td>
      <td width="261" align="right" valign="top"><img src="../assets/images/logo.gif" width="180" height="50"></td>
    </tr>
  </table>
</div>

<!-- Top level nav layer 1 -->
<div id="menu"> 
  <table width="100%" height="25" border="0" cellpadding="0" cellspacing="0">
    <tr> 
      <td valign="middle" background="../assets/images/bg_menu.jpg"><table width="760" border="0" cellpadding="0" cellspacing="0">
          <tr> 
            <td align="center" class="primaryNav_Off"
    onmouseover="this.style.backgroundColor='#FFCC33';this.style.color='#FFFFFF'" onmouseout="this.style.backgroundColor='';this.style.color=''"><a href="../manu/admin/AdminConsole.html" class="menu-link">Admin Console</a></td>
            <td><img src="../assets/images/menu_bg1.jpg" width="3" height="23"></td>
            <td align="center" class="primaryNav_Off" 
    onmouseover="this.style.backgroundColor='#FFCC33';this.style.color='#FFFFFF'" onmouseout="this.style.backgroundColor='';this.style.color=''"><a href="../manu/logistics/Logistics.html" class="menu-link">Logistics</a></td>
            <td><img src="../assets/images/menu_bg1.jpg" width="3" height="23"></td>
            <td align="center" class="primaryNav_Off" 
    onmouseover="this.style.backgroundColor='#FFCC33';this.style.color='#FFFFFF'" onmouseout="this.style.backgroundColor='';this.style.color=''"><a href="../manu/epedigree/index.html" class="menu-link">ePedigree</a></td>
            <td><img src="../assets/images/menu_bg1.jpg" width="3" height="23"></td>
            <td align="center" class="primaryNav_Off" 
    onmouseover="this.style.backgroundColor='#FFCC33';this.style.color='#FFFFFF'" onmouseout="this.style.backgroundColor='';this.style.color=''"><a href="../manu/prodRecall/ProductRecall.html" class="menu-link">Product Recall</a></td>
            <td><img src="../assets/images/menu_bg1.jpg" width="3" height="23"></td>
            <td align="center" class="primaryNav_Off" 
    onmouseover="this.style.backgroundColor='#FFCC33';this.style.color='#FFFFFF'" onmouseout="this.style.backgroundColor='';this.style.color=''"><a href="../manu/trackTrace/TrackTrace.html" class="menu-link">Track and Trace</a></td>
            <td><img src="../assets/images/menu_bg1.jpg" width="3" height="23"></td>
            <td align="center" class="primaryNav_Off" 
    onmouseover="this.style.backgroundColor='#FFCC33';this.style.color='#FFFFFF'" onmouseout="this.style.backgroundColor='';this.style.color=''"><a href="../manu/bizIntel/BusinessIntelligence.html" class="menu-link">Business Intelligence</a></td>
            <td><img src="../assets/images/menu_bg1.jpg" width="3" height="23"></td>
            <td align="center" class="primaryNav_Off"
    onmouseover="this.style.backgroundColor='#FFCC33';this.style.color='#FFFFFF'" onmouseout="this.style.backgroundColor='';this.style.color=''"><a href="TradingPartnerManager.html" class="menu-link">Trading Partner Manager</a></td>
            <td><img src="../assets/images/menu_bg1.jpg" width="3" height="23"></td>
          </tr>
        </table></td>
    </tr>
  </table>
</div>

<!-- Top level nav layer 2 -->
<div id="menu1"> 
  <table width="100%" height="25" border="0" cellpadding="0" cellspacing="0">
    <tr> 
      <td valign="bottom" background="../assets/images/bg_menu.jpg"><table width="650" border="0" cellpadding="0" cellspacing="0">
          <tr> 
            <td align="center" class="primaryNav_Off"
    onmouseover="this.style.backgroundColor='#FFCC33';this.style.color='#FFFFFF'" onmouseout="this.style.backgroundColor='';this.style.color=''"><a href="../manu/diversion/Diversion.html" class="menu-link">Diversion</a></td>
            <td><img src="../assets/images/menu_bg1.jpg" width="3" height="23"></td>
            <td align="center" class="primaryNav_Off"
    onmouseover="this.style.backgroundColor='#FFCC33';this.style.color='#FFFFFF'" onmouseout="this.style.backgroundColor='';this.style.color=''"><a href="../manu/clinicalTrials/ClinicalTrials.html" class="menu-link">Clinical Trials</a></td>
            <td><img src="../assets/images/menu_bg1.jpg" width="3" height="23"></td>
            <td align="center" class="primaryNav_Off"
    onmouseover="this.style.backgroundColor='#FFCC33';this.style.color='#FFFFFF'" onmouseout="this.style.backgroundColor='';this.style.color=''"><a href="../manu/catalog/index.html" class="menu-link">Catalog</a></td>
            <td><img src="../assets/images/menu_bg1.jpg" width="3" height="23"></td>
            <td align="center" class="primaryNav_Off"
    onmouseover="this.style.backgroundColor='#FFCC33';this.style.color='#FFFFFF'" onmouseout="this.style.backgroundColor='';this.style.color=''"><a href="../manu/authentication/Authentication.html" class="menu-link">Authentication</a></td>
            <td><img src="../assets/images/menu_bg1.jpg" width="3" height="23"></td>
            <td align="center" class="primaryNav_Off"
    onmouseover="this.style.backgroundColor='#FFCC33';this.style.color='#FFFFFF'" onmouseout="this.style.backgroundColor='';this.style.color=''"><a href="../manu/productIntegrity/ProductIntegrity.html" class="menu-link">Product Integrity</a></td>
            <td><img src="../assets/images/menu_bg1.jpg" width="3" height="23"></td>
            <td align="center" class="primaryNav_Off"
    onmouseover="this.style.backgroundColor='#FFCC33';this.style.color='#FFFFFF'" onmouseout="this.style.backgroundColor='';this.style.color=''"><a href="../manu/reports/Reports.html" class="menu-link">Reports</a></td>
            <td><img src="../assets/images/menu_bg1.jpg" width="3" height="23"></td>
            <td align="center" class="primaryNav_On"
    onmouseover="this.style.backgroundColor='#FFCC33';this.style.color='#FFFFFF'" onmouseout="this.style.backgroundColor='';this.style.color=''"><a href="../manu/kpiDashboard/index.html" class="menu-link menuBlack">KPI Dashboard</a></td>
            <td><img src="../assets/images/menu_bg1.jpg" width="3" height="23"></td>
          </tr>
        </table></td>
    </tr>
  </table>
</div>

<!-- Left channel -->
<div id="leftgray"> 
  <table width="170" height="100%" border="0" cellpadding="0" cellspacing="0">
    <tr> 
      <td width="170" colspan="2" class="td-leftred">KPI Dashboard</td>
    </tr>
    <tr> 
      <td width="10" valign="top" bgcolor="#DCDCDC"></td>
      <td valign="top" class="td-left"><br><a href="../manu/kpiDashboard/index.html" class="typeblue1-link">KPI Dashboard</a></td>
    </tr>
    <tr valign="bottom"> 
      <td height="80" colspan="2" class="td-left"><img src="../assets/images/logo_poweredby.gif" width="150" height="37"></td>
    </tr>
  </table>
</div>

<div id="rightwhite"> 
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr> 
      <td width="1%" valign="middle" class="td-rightmenu"><img src="../assets/images/space.gif" width="10" height="10"></td>
      <!-- Messaging -->
      <td width="99%" valign="middle" class="td-rightmenu"><table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr> 
            <td align="left"> <!-- <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr> 
                  <td class="type-red">[View] </td>
                  <td><a href="#" class="typered-link">Create</a> </td>
                  <td><a href="#" class="typered-link">Delete</a> </td>
                  <td><a href="#" class="typered-link">Duplicate </a></td>
                  <td><a href="#" class="typered-link">Search </a></td>
                  <td><a href="#" class="typered-link">Audit </a></td>
                  <td><a href="#" class="typered-link">Trail</a></td>
                </tr>
              </table> --></td>
            <td align="right"><!-- <img src="../../assets/images/3320.jpg" width="200" height="27"> --><img src="../assets/images/space.gif" width="5"></td>
          </tr>
        </table></td>
    </tr>
    <tr> 
      <td>&nbsp;</td>
      <td><table border="0" cellspacing="0" cellpadding="0" width="100%">
          <tr> 
            <td><img src="../assets/images/space.gif" width="30" height="12"></td>
            <td rowspan="2">&nbsp;</td>
          </tr>
          <!-- Breadcrumb -->
          <!-- <tr> 
            <td><a href="#" class="typegray1-link">Home</a><span class="td-typegray"> 
              - </span><a href="#" class="typegray1-link">ePedigree</a></td>
          </tr> -->
          <tr>
		  <td> 
           
		<!-- info goes here --> 
		<table width="100%" id="Table1" cellSpacing="1" cellPadding="1" align="left" border="0" bgcolor="white">
			<tr bgcolor="white">
				<td class="td-typeblack" colspan="3">KPI Dashboard</td>
			</tr>
			<tr>
				<td align="left">
					<!-- Dashboard Start -->
				<table border="0" cellpadding="0" cellspacing="0" width="770">
				  <tr> 
					<!-- Begin charts -->
	                <td width="365" valign="top">
						<img src="../assets/images/EEImages/blank.gif" width="1" height="7" border="0" alt=""><BR>
						<table border="0" cellspacing="0" cellpadding="0" width="365">
						<tr>
							<td><img src="../assets/images/EEImages/blank.gif" width="16" height="1" border="0" alt=""></td>
							
							<td valign="top">
							<table border="0" cellspacing="0" cellpadding="0" width="348">
							
							<tr>
								<td width="348" colspan="3"><img src="../assets/images/EEImages/dboard/chart_weeklysales_top.gif" width="348" height="18" border="0" align="top" alt="Weekly Sales"></td>
							</tr>
							
							<tr><td valign="top" width="3"><img src="../assets/images/EEImages/dboard/chart_left.gif" width="3" height="285" border="0" align="top" alt=""></td><td valign="top" width="348">
<table width="338" cellpadding="0" cellspacing="0" border="0">
<tr><td colspan="5">
<img src="../assets/images/EEImages/dboard/chart_weeklySales_base.gif" width="338" height="234" border="0" align="top" alt=""></td></tr>
<tr>
<!-- Thumbnails -->
							
							<td align="left" width="67"><a href="#"><img src="../assets/images/EEImages/dboard/chart_bttm1_on.gif" width="67" height="51" border="0" align="top" alt="Weekly Sales"></a></td>
							<td width="68" class="thumbon"><a href="#"><img src="../assets/images/EEImages/dboard/chart_bttm2_off.gif" width="68" height="51" border="0" align="top" alt="Service Level Comparison"></a></td>
							<td width="68" class="thumboff"><a href="#"><img src="../assets/images/EEImages/dboard/chart_bttm3_off.gif" width="68" height="51" border="0" align="top" alt="Inventory On Hand Snapshot"></a></td>
							<td width="68" class="thumboff"><a href="#"><img src="../assets/images/EEImages/dboard/chart_bttm4_off.gif" width="68" height="51" border="0" align="top" alt="Purchasing On Time Shipments"></a></td>
							<td align="left" width="67" class="thumboff"><a href="../manu/kpiDashboard/Dashboard_chart_inventory.html"><img src="../assets/images/EEImages/dboard/chart_bttm5_off.gif" width="67" height="51" border="0" align="top" alt="On Time Shipments"></a></td></tr>	
<!-- Report name links -->
							<tr>
							<td align="left" class="chartNames" width="70" valign="top"><a href="#" class="typeblue1-link-sub-sub">APN Verification Weekly Statistics</a></td>
							<td align="left" class="chartNames" width="68"><a href="#" class="typeblue1-link-sub-sub">Trading Partner Pedigree Exceptions</a></td>
							<td align="left" class="chartNames" width="68"><a href="#" class="typeblue1-link-sub-sub">Exceptions Per Reason Code</a></td>
							<td align="left" class="chartNames" width="68"><a href="#" class="typeblue1-link-sub-sub">Orders Per Trading Partner</a></td>
							<td align="left" class="chartNames" width="67"><a href="#" class="typeblue1-link-sub-sub">Pedigree Certification By User</a></td>
							</tr></table>
</td>
<td valign="top" width="7"><img src="../assets/images/EEImages/dboard/chart_right.gif" width="7" height="285" border="0" align="top" alt=""></td></tr>							
</table>
							</td>
							
						</tr>
						</table>

					
					</td>
					<!-- End charts -->			
					
					
					<!-- Begin KPIs -->
	                <td width="265" valign="top">
						
						<img src="../assets/images/EEImages/blank.gif" width="1" height="7" border="0" alt=""><BR>

<table border="0" cellspacing="0" cellpadding="0" width="265">
<tr>
<td width="10" valign="top"><img align="top" src="../assets/images/EEImages/blank.gif" width="10" height="1" border="0" alt=""></td>
<td valign="top" width="250">
<!----Start of table kpis---->
<table width="300" cellpadding="0" cellspacing="0" border="0">
<tr>
<td valign="top" height="18" width="255" bgcolor="#A29FCB" colspan="3"><img src="../assets/images/EEImages/dboard/db_kpis_top.gif" width="250" height="18" border="0" align="top" alt="Key Performance Indicators"></td>
</tr>
<tr><td align="left" width="1" bgcolor="#A29FCB"><img align="top" src="../assets/images/EEImages/blank.gif" width="1" height="1" border="0" alt=""></td>
<td valign="top" width="253">

<table width="300" cellpadding="0" cellspacing="0" border="0">
<tr>
<td colspan="6" valign="top" height="16" bgcolor="#DFDEED" width="255"><img src="../assets/images/EEImages/dboard/db_kpis_orders.gif" width="248" height="16" border="0" align="top" alt=""></td>
</tr>
<tr>
<td colspan="6" bgcolor="#DFDEED" valign="top" height="1" width="248"><img src="../assets/images/EEImages/blank.gif" width="1" height="1" border="0" align="top" alt=""></td>
</tr>
<tr>
<td class="menu" valign="top" width="186">
&nbsp; Exceptions per Order
</td>
<td bgcolor="#DFDEED" height="18" width="1"><img src="../assets/images/EEImages/blank.gif" width="1" height="1" border="0" align="top" alt=""></td>
<td valign="middle" class="kpis" width=16><a href="javascript:openWindow('KPIs/KPI15.html','','yes','yes',255,450,100,100)">.04</a></td><td width="16"><img align="top" src="../assets/images/EEImages/dboard/db_dot_green.gif" width="16" height="18" border="0" alt=""></td><td width=16><img align="top" src="../assets/images/EEImages/dboard/db_dot_blank.gif" width="16" height="18" border="0" alt=""></td><td width=16><img src="../assets/images/EEImages/dboard/db_dot_blank.gif" align="top" width="16" height="18" border="0" alt=""></td>
</tr>
<tr>
<td colspan="6" bgcolor="#DFDEED" valign="top" height="1" width="248"><img src="../assets/images/EEImages/blank.gif" width="1" height="1" border="0" align="top" alt=""></td>
</tr>
<tr>
<td class="menu" valign="top" width="186">
&nbsp; Order Cancellation Rate
</td>
<td bgcolor="#DFDEED" height="16" width="1"><img src="../assets/images/EEImages/blank.gif" width="1" height="1" border="0" align="top" alt=""></td>
<td valign="middle" class="kpis" width=14><a href="javascript:openWindow('KPIs/KPI16.html','','yes','yes',255,450,100,100)">.1%</a></td><td width="16"><img align="top" src="../assets/images/EEImages/dboard/db_dot_green.gif" width="16" height="18" border="0" alt=""></td><td width=16><img align="top" src="../assets/images/EEImages/dboard/db_dot_blank.gif" width="16" height="18" border="0" alt=""></td><td width=16><img src="../assets/images/EEImages/dboard/db_dot_blank.gif" align="top" width="16" height="18" border="0" alt=""></td>
</tr>
<tr>
<td colspan="6" bgcolor="#DFDEED" valign="top" height="1" width="253"><img src="../assets/images/EEImages/blank.gif" width="1" height="1" border="0" align="top" alt=""></td>
</tr>
<tr>
<td class="menu" valign="top" width="186">
&nbsp; Perfect Order Rate
</td>
<td bgcolor="#DFDEED" height="16" width="1"><img src="../assets/images/EEImages/blank.gif" width="1" height="1" border="0" align="top" alt=""></td>
<td valign="middle" class="kpis" width=14><a href="javascript:openWindow('KPIs/KPI17.html','','yes','yes',255,450,100,100)">83%</a></td><td width="16"><img align="top" src="../assets/images/EEImages/dboard/db_dot_blank.gif" width="16" height="18" border="0" alt=""></td><td width=16><img align="top" src="../assets/images/EEImages/dboard/db_dot_yellow.gif" width="16" height="18" border="0" alt=""></td><td width=16><img src="../assets/images/EEImages/dboard/db_dot_blank.gif" align="top" width="16" height="18" border="0" alt=""></td>
</tr>
<tr>
<td colspan="6" bgcolor="#A29FCB" valign="top" height="1" width="253"><img src="../assets/images/EEImages/blank.gif" width="1" height="1" border="0" align="top" alt=""></td>
</tr>
<tr>
<td colspan="6" valign="top" height="16" bgcolor="#DFDEED" width="255"><img src="../assets/images/EEImages/dboard/db_kpis_inventory.gif" width="248" height="16" border="0" align="top" alt=""></td>
</tr>
<tr>
<td colspan="6" bgcolor="#DFDEED" valign="top" height="1" width="248"><img src="../assets/images/EEImages/blank.gif" width="1" height="1" border="0" align="top" alt=""></td>
</tr>
<tr>
<td class="menu" valign="top" width="186">
&nbsp; % RFID Tag Failure </td>
<td bgcolor="#DFDEED" height="16" width="1"><img src="../assets/images/EEImages/blank.gif" width="1" height="1" border="0" align="top" alt=""></td>
<td valign="middle" class="kpis" width=14><a href="javascript:openWindow('KPIs/KPI18.html','','yes','yes',255,450,100,100)">1.1%</a></td><td width="16"><img align="top" src="../assets/images/EEImages/dboard/db_dot_green.gif" width="16" height="18" border="0" alt=""></td><td width=16><img align="top" src="../assets/images/EEImages/dboard/db_dot_blank.gif" width="16" height="18" border="0" alt=""></td><td width=16><img src="../assets/images/EEImages/dboard/db_dot_blank.gif" align="top" width="16" height="18" border="0" alt=""></td>
</tr>
<tr>
<td colspan="6" bgcolor="#DFDEED" valign="top" height="1" width="248"><img src="../assets/images/EEImages/blank.gif" width="1" height="1" border="0" align="top" alt=""></td>
</tr>
<tr>
<td class="menu" valign="top" width="186">
&nbsp; % of Pedigree Verification Failures </td>
<td bgcolor="#DFDEED" height="16" width="1"><img src="../assets/images/EEImages/blank.gif" width="1" height="1" border="0" align="top" alt=""></td>
<td valign="middle" class="kpis" width=14><a href="javascript:openWindow('KPIs/KPI19.html','','yes','yes',255,450,100,100)">5%</a></td>
<td width="16"><img align="top" src="../assets/images/EEImages/dboard/db_dot_blank.gif" width="16" height="18" border="0" alt=""></td><td width=16><img align="top" src="../assets/images/EEImages/dboard/db_dot_blank.gif" width="16" height="18" border="0" alt=""></td><td width=16><img src="../assets/images/EEImages/dboard/db_dot_red.gif" align="top" width="16" height="18" border="0" alt=""></td>
</tr>
<tr>
<td colspan="6" bgcolor="#DFDEED" valign="top" height="1" width="248"><img src="../assets/images/EEImages/blank.gif" width="1" height="1" border="0" align="top" alt=""></td>
</tr>
<!-- <tr>
<td class="menu" valign="top" width="186">
&nbsp; Shrinkage Rate
</td>
<td bgcolor="#DFDEED" height="16" width="1"><img src="../../assets/images/EEImages/blank.gif" width="1" height="1" border="0" align="top" alt=""></td>
<td valign="middle" class="kpis" width=14><a href="javascript:openWindow('KPIs/KPI20.html','','yes','yes',255,450,100,100)">1.1%</a></td><td width="16"><img align="top" src="../../assets/images/EEImages/dboard/db_dot_blank.gif" width="16" height="18" border="0" alt=""></td><td width=16><img align="top" src="../../assets/images/EEImages/dboard/db_dot_yellow.gif" width="16" height="18" border="0" alt=""></td><td width=16><img src="../../assets/images/EEImages/dboard/db_dot_blank.gif" align="top" width="16" height="18" border="0" alt=""></td>
</tr>
<tr>
<td colspan="6" bgcolor="#DFDEED" valign="top" height="1" width="248"><img src="../../assets/images/EEImages/blank.gif" width="1" height="1" border="0" align="top" alt=""></td>
</tr> -->
<!-- <tr>
<td class="menu" valign="top" width="186">
&nbsp; Inv. Synch. Accuracy
</td>
<td bgcolor="#DFDEED" height="16" width="1"><img src="../../assets/images/EEImages/blank.gif" width="1" height="1" border="0" align="top" alt=""></td>
<td valign="middle" class="kpis" width=14><a href="javascript:openWindow('KPIs/KPI21.html','','yes','yes',255,450,100,100)">99%</a></td><td width="16"><img align="top" src="../../assets/images/EEImages/dboard/db_dot_green.gif" width="16" height="18" border="0" alt=""></td><td width=16><img align="top" src="../../assets/images/EEImages/dboard/db_dot_blank.gif" width="16" height="18" border="0" alt=""></td><td width=16><img src="../../assets/images/EEImages/dboard/db_dot_blank.gif" align="top" width="16" height="18" border="0" alt=""></td>
</tr> -->
<tr>
<td colspan="6" bgcolor="#A29FCB" valign="top" height="1" width="253"><img src="../assets/images/EEImages/blank.gif" width="1" height="1" border="0" align="top" alt=""></td>
</tr>
<tr>
<td colspan="6" valign="top" height="16" bgcolor="#DFDEED" width="255"><img src="../assets/images/EEImages/dboard/db_kpis_pomanagement.gif" width="248" height="16" border="0" align="top" alt=""></td>
</tr>
<tr>
<td colspan="6" bgcolor="#DFDEED" valign="top" height="1" width="248"><img src="../assets/images/EEImages/blank.gif" width="1" height="1" border="0" align="top" alt=""></td>
</tr>
<tr>
<td class="menu" valign="top" width="186">
&nbsp;Commission Failure Rate/Day </td>
<td bgcolor="#DFDEED" height="16" width="1"><img src="../assets/images/EEImages/blank.gif" width="1" height="1" border="0" align="top" alt=""></td>
<td valign="middle" class="kpis" width=14><a href="javascript:openWindow('KPIs/KPI22.html','','yes','yes',255,450,100,100)">1%</a></td>
<td width="16"><img align="top" src="../assets/images/EEImages/dboard/db_dot_blank.gif" width="16" height="18" border="0" alt=""></td><td width=16><img align="top" src="../assets/images/EEImages/dboard/db_dot_yellow.gif" width="16" height="18" border="0" alt=""></td><td width=16><img src="../assets/images/EEImages/dboard/db_dot_blank.gif" align="top" width="16" height="18" border="0" alt=""></td>
</tr>
<tr>
<td colspan="6" bgcolor="#DFDEED" valign="top" height="1" width="248"><img src="../assets/images/EEImages/blank.gif" width="1" height="1" border="0" align="top" alt=""></td>
</tr>
<tr>
<td colspan="6" valign="top" height="16" bgcolor="#DFDEED" width="255"><img src="../assets/images/EEImages/dboard/db_kpis_fulfillment.gif" width="248" height="16" border="0" align="top" alt=""></td>
</tr>
<tr>
<td colspan="6" bgcolor="#DFDEED" valign="top" height="1" width="248"><img src="../assets/images/EEImages/blank.gif" width="1" height="1" border="0" align="top" alt=""></td>
</tr>
<tr>
<td class="menu" valign="top" width="186">
&nbsp; Order Fill Rate
</td>
<td bgcolor="#DFDEED" height="16" width="1"><img src="../assets/images/EEImages/blank.gif" width="1" height="1" border="0" align="top" alt=""></td>
<td valign="middle" class="kpis" width=14><a href="javascript:openWindow('KPIs/KPI23.html','','yes','yes',255,450,100,100)">99.2%</a></td><td width="16"><img align="top" src="../assets/images/EEImages/dboard/db_dot_green.gif" width="16" height="18" border="0" alt=""></td><td width=16><img align="top" src="../assets/images/EEImages/dboard/db_dot_blank.gif" width="16" height="18" border="0" alt=""></td><td width=16><img src="../assets/images/EEImages/dboard/db_dot_blank.gif" align="top" width="16" height="18" border="0" alt=""></td>
</tr>
<tr>
<td colspan="6" bgcolor="#DFDEED" valign="top" height="1" width="248"><img src="../assets/images/EEImages/blank.gif" width="1" height="1" border="0" align="top" alt=""></td>
</tr>
<tr>
<td class="menu" valign="top" width="186">
&nbsp; On Time Shipment
</td>
<td bgcolor="#DFDEED" height="16" width="1"><img src="../assets/images/EEImages/blank.gif" width="1" height="1" border="0" align="top" alt=""></td>
<td valign="middle" class="kpis" width=14><a href="javascript:openWindow('KPIs/KPI24.html','','yes','yes',255,450,100,100)">90%</a></td><td width="16"><img align="top" src="../assets/images/EEImages/dboard/db_dot_blank.gif" width="16" height="18" border="0" alt=""></td><td width=16><img align="top" src="../assets/images/EEImages/dboard/db_dot_blank.gif" width="16" height="18" border="0" alt=""></td><td width=16><img src="../assets/images/EEImages/dboard/db_dot_red.gif" align="top" width="16" height="18" border="0" alt=""></td>
</tr>
<tr>
<td colspan="6" bgcolor="#A29FCB" valign="top" height="1" width="253"><img src="../assets/images/EEImages/blank.gif" width="1" height="1" border="0" align="top" alt=""></td>
</tr>
<tr>
<td colspan="6" valign="top" height="16" bgcolor="#DFDEED" width="255"><img src="../assets/images/EEImages/dboard/db_kpis_delivery.gif" width="248" height="16" border="0" align="top" alt=""></td>
</tr>
<tr>
<td colspan="6" bgcolor="#DFDEED" valign="top" height="1" width="248"><img src="../assets/images/EEImages/blank.gif" width="1" height="1" border="0" align="top" alt=""></td>
</tr>
<tr>
<td class="menu" valign="top" width="186">
&nbsp; On Time Delivery
</td>
<td bgcolor="#DFDEED" height="16" width="1"><img src="../assets/images/EEImages/blank.gif" width="1" height="1" border="0" align="top" alt=""></td>
<td valign="middle" class="kpis" width=14><a href="javascript:openWindow('KPIs/KPI25.html','','yes','yes',255,450,100,100)">99.2%</a></td><td width="16"><img align="top" src="../assets/images/EEImages/dboard/db_dot_green.gif" width="16" height="18" border="0" alt=""></td><td width=16><img align="top" src="../assets/images/EEImages/dboard/db_dot_blank.gif" width="16" height="18" border="0" alt=""></td><td width=16><img src="../assets/images/EEImages/dboard/db_dot_blank.gif" align="top" width="16" height="18" border="0" alt=""></td>
</tr>
<tr>
<td colspan="6" bgcolor="#A29FCB" valign="top" height="1" width="253"><img src="../assets/images/EEImages/blank.gif" width="1" height="1" border="0" align="top" alt=""></td>
</tr>
</table>


</td>
<td width="1" bgcolor="#A29FCB">
<img align="top" src="../assets/images/EEImages/blank.gif" width="1" height="1" border="0" alt="">
</td>
</tr>
<tr>
<!-----------alerts------------------>
<td valign="top" colspan="3" width="300">
<table cellpadding="0" cellspacing="0" border="0" width="300">
<tr><td valign="top" height="35" width="300" colspan="3">
<img src="../assets/images/EEImages/blank.gif" height="10" width="1"><br>
<img src="../assets/images/EEImages/dboard/alerts_top.gif" width="300" height="25" border="0" align="top" alt="Key Performance Indicators"></td>
</tr>
<tr><td height="24" width="33"><img src="../assets/images/EEImages/dboard/alerts_icon_on.gif" width="33" height="24" border="0" align="top" alt=""></td>
<td height="24" class="menu" width="221">Pedigree Verification Failed </td>
<td align="right" height="24" width="1"><img src="../assets/images/EEImages/dboard/alerts_bg_black.gif" width="1" height="24" border="0" align="top" alt=""></td>
</tr>
<tr><td height="24" width="33"><img src="../assets/images/EEImages/dboard/alerts_icon_off.gif" width="33" height="24" border="0" align="top" alt=""></td>
<td height="24" width="221" class="menu">Unauthorized Drug Orders </td>
<td align="right" height="24" width="1"><img align="top" src="../assets/images/EEImages/dboard/alerts_bg_black.gif" height="24" width="1"></td></tr>
<tr><td height="1" width="300" valign="top" colspan="3"><img align="top" src="../assets/images/EEImages/dboard/alerts_bg_black.gif" height="1" width="300"></td></tr>
</table>
</td></tr>
</table>


							</td>
						</tr>
						</table>						

					
					</td>
					<!-- End KPIs -->								
												
					
	              </tr>
				</table>
	            <!-- End Dashboard-->
 				</td>
			</tr>

		</table>
		</td>
    </tr>
  </table>
</div>

<div id="footer" class="td-menu" > 
  <table width="100%" height="24" border="0" cellpadding="0" cellspacing="0">
    <tr> 
      <td width="100%" height="24" bgcolor="#D0D0FF" class="td-menu" align="left">&nbsp;&nbsp;Copyright 2005. 
        Raining Data.</td>
    </tr>
  </table>
</div>

<!-- End Content DIV -->
</div>
</body>
</html>
