.Era_asterisk
{
    FONT-SIZE: 12px;
    COLOR: #f68622;
    FONT-FAMILY: Verdana
}
.fields
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 12px;
    COLOR: #00008b;
    FONT-FAMILY: verdana
}
.Smallfont
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 10px;
    COLOR: #808080;
    FONT-FAMILY: Arial
}
.tablefont1
{
    FONT-SIZE: 13px;
    COLOR: blue;
    FONT-FAMILY: Verdana
}
.tablefont2
{
    FONT-WEIGHT: normal;
    FONT-SIZE: 13px;
    COLOR: maroon;
    FONT-FAMILY: Verdana
}
