<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd">


    <bean id="applicationPropertyPlaceholderConfigurer" class="com.bmsils.gcn.managers.impl.ConfigurationManagerImpl"
          lazy-init="false" factory-method="getInstance">
        <property name="locations">
            <list>
                <value>classpath:application.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="false"/>
    </bean>


    <alias alias="configurationManager" name="applicationPropertyPlaceholderConfigurer"/>

    <bean id="i18nService" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames">
            <value>classpath:/i18n/app-messages</value>
        </property>
        <property name="fallbackToSystemLocale" value="false"/>
        <property name="cacheSeconds" value="0"/>
    </bean>



</beans>
